@import url('https://fonts.googleapis.com/css?family=Montserrat');

$colors: (
  main-dark: #22212E,
  dark-lighter: #292f36,
  dark-lighter-50: #292f36a8,
  green-light: #64d883,
  red-light: #d62626,
  purple: #AD89EC,
  purple-50: rgba(173, 137, 236, 0.698)
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$transition: 0.6s;

html, body{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}

img{
    width: 3.5em;
}

h1, p, a, li{
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url(../image/bg/mobile/bg-header-mobile.svg);
    background-repeat: no-repeat;
    background-color: color(main-dark);
    background-size: 15em;
    background-position-y:-0.5em;
    background-position-x:110%;
    font-family: 'Montserrat';
}

.container {
    text-align: center;
    padding: 1em 1.2em;
  }

.hide-mobile{
    visibility: hidden;
    right: -400px;
    transition: $transition;
}



header{
    overflow: auto;
    display: flex;
    justify-content: space-between;
    z-index: 50000;
    transition: $transition;
    
    #logo{
        padding-left: 1em;
        position: fixed;
        width: 2em;
        z-index: 50000;
        padding-top: 2%;
        transition: $transition;
    }

    #menu{
      position: fixed;
      right: 6%;
      z-index: 500;
        img{
            width: 2em;
            margin-top: 35%;
        }
    }

        
        ul {
        position: fixed;
        background: color(dark-lighter);
        right: -5px;
        width: 60%;
        height: 100%;
        top: 0;
        z-index: 9999;
        text-align: left;
        padding-top: 3em;
        transition: $transition;
    
          a {
            color: #fff;
            text-decoration: none;
            display: block;
            width: 100%;
            padding: 1em 1em;
            font-size: 1.2em;
          }
    
          #exit {
            cursor: pointer;
            img {
              width: 20px;
              margin-bottom: 1em;
              margin-top: -0.8em;
              padding: 0 1.8em;
              float: right;
            }
          }
        }
      }

     header#header{
       width: 100%;
       height: 11%;
       position: fixed;
     }

     header#header.header-scrolled{
        background: color(dark-lighter-50);
        width: 100%;
      }
      


      main{
        margin-top: 50%;

          img{
              width: 13.5em;
              margin-top: -10%;
          }

          h1{
            text-transform: uppercase;
            font-size: 4.5em;
            margin-top: -0.2%;
            font-weight: bold;

          }

          p{
            margin-top: -10%;
            text-transform: capitalize;
            font-size:1em;
            font-weight: bold;
          }

          a{
            position: relative;
            top: 4em;
            background: color(purple);
            text-align: center;
            padding: 1em;
            padding-left: 3em;
            padding-right: 3em;
            border-radius: 2em;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.2em;
          }
      }

      #star-about{
        z-index: 2;
        height: 100vh;
        width: 100%;
        background: url(../image/bg/mobile/star_grid-mobile.svg);
        background-size: cover;
        margin-top: 60%;

        h1{
          font-size: 3em;
          font-weight: bold;
          text-transform: uppercase;
        }

        p{
          font-size: 1.3em;
          font-weight: bold;
          padding-top: 5%;
        }

        span{
          color: color(red-light);
        }

        #click-me{
          font-size:0.7em;
        }

        img{
          width: 1.2em;
        }

        button{
          background: color(green-light);
          border-width: 0;
          font-size: 1.2em;
          font-weight: bold;
          color: #fff;
           padding: 1em;
           padding-left: 3em;
           padding-right: 3em;
           border-radius: 2em;
           text-transform: uppercase;
           margin-top: 10%;
           z-index: 1;
           cursor: pointer;
        }
      }

      @media only screen and (min-width:768px) {
        
        header{
          img{
            width: 4.5em;
          }
          #menu{
            img{
              width:3.5em;
            }
          }

          ul{
            width: 40%;

            a{
              font-size: 1.5em;
            }
          }
        }


        

        main{
          margin: 0;

        
          p{
            margin-top: -7%;
            font-size: .8em;
          }
        }
      }

      @media only screen and (min-width: 800px) {
        body{
          background-image: url(../image/bg/bg-header.svg);
          background-repeat: no-repeat;
          background-size: 40%;
        }

        main{
          margin-top: 25%;

          img{
            width: 15em;
            margin-top: 5%;
          }

          h1{
            font-size: 7em;
          }

          p{
            font-size: 1.2em;
          }

          a{
            font-size: 1.3em;
            top: 5em;
          }
        }
      }

      @media only screen and (min-width: 1280px) {


        .container.container-scrolled{
        #logo{
         margin-top: -0.5%;
        }
          
          ul{
            padding-top: 1em;
          }
        }

        header#header.header-scrolled{
          background: color(dark-lighter-50);
          width: 100%;
          height: 9.5%;
        }
        
        .hide-mobile{
          visibility: visible;
        }

        
        body{
          background-image: url(../image/bg/bg-header.svg);
          background-size: 61%;
        }

        nav{
          ul{
            padding-top: 1.5em;
            display: flex;
            background: none;
            width: 100%;
            margin-right: -15%;
          li{
            padding-left: 1em;

            a{
              font-size: 1.1em;
              transition: $transition;
            }

            a:hover{
              text-decoration: underline;
              font-size: 1.3em;
            }
          }
          }
        }

        .hide-desktop{
          display: none;
        }

        main{
          margin-top: 0;
          img{
            width: 17em;
            margin-top: 7%;
          }

          h1{
            margin-top: -1%;
            font-size: 8em;
          }

          p{
            margin-top: -7%;
          }

          a{
            top: 3em;
            transition: $transition;
            font-size: 1em;
          }

          a:hover{
            background: color(purple-50);
          }
        }

      }

@media only screen and (min-width: 1680px){


  
  

  .container.container-scrolled{
    padding: 1em 1.2em;
  }

  header{
    #logo{
      padding-top: 1%;
      width: 2.5em;
    }


    nav{
      ul{
        margin-right: -40%;

        a{
          font-size: 1.2em;
        }
      }
    }
  }

    main{
      img{
        width: 20em;
      }

      p{
        margin-top: -4.5%;
      }

      a{
        font-size: 1.5em;
      }
    }



    #star-about{
      margin-top: 12%;
      background: url(../image/bg/star_grid.svg);

      h1{
        text-align: center;
        padding-top: 5%;
        font-size: 4em;
      }

      #container-commands{
        display: flex;
        justify-content: space-evenly;
        padding-left: 3%;
      }

      #command-container-left{
        margin-right: -20%;
      }

      #command-container-right{
        margin-left: -20%;
      }

      p{
        padding-top: 2%;
      }

      #list-about{
        display: flex;
        justify-content: center;
        margin-top: -5%;



        img{
          position: relative;
          left: 8.5%;
        }
        
      }
    }
}


