@import url('https://fonts.googleapis.com/css?family=Montserrat');


$colors: (
   main-green: #67D283,
   main-red: #FF4464,
   dark: #1B1C27,
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

body{
    background: url(../image/bg/star_grid.svg), color(dark);
    background-position-y: -2em;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

img{
    width: 2em;
}

p, h1, h2, h3, h4 ,h5 ,h6, a, li, button{
    color: #fff;
    text-decoration: none;
    list-style: none;
    border: none;
    background: none;
}

.btn{
    box-sizing: border-box;
    background: color(main-green);
    padding: 0.7em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-left: 2em;
    border-radius: 0.5em;
    text-align: center;
    font-weight: bold;
    width: 7em;
    font-size: 1.0833333333333335em;
    margin-top: 1%;
    img{
        width: 6em;
        margin-top: 4%;
    }
}

.hollow{
    background: none;
    border: solid color(main-green);
}

header{

    .container{
        padding: 2rem 10rem;
        display: flex;
        justify-content: space-between;
    }

    .btn{
        margin-left: 1em;
        width: 8em;
    }

  #logo-header{
        width: 7em;
        justify-content: start;
    }

    nav{
        ul{
            display: flex;

            
            li{
                padding: 0em 1em;

            }
            .nav-item{
                margin-top: 2.2%;
                font-size: 1.0833333333333335em; 
            }
        }
    }

}

main{
    height: 100vh;
    width: 100%;
    div{
        display: flex;
        justify-content: space-between;
        padding: 5em 20em;

    #avatar{
        width: 26em;
        margin-top: 0%;
        margin-left: 5%;
    }

    .btn{
        height: 3em;
        justify-content: flex-end;
    }

    .full{
        background: color(main-red);
    }

    .hollow{
        border-color: color(main-red);
    }

    span{
        color: color(main-red);
    }
    
    h1{
        font-size: 9em;
        margin-top: -1%;
        line-height: 100%;
        font-weight: normal;
    }
}
    #container-btn{
        margin-top: -8%;
        margin-right: 7%;
        display: flex;
        justify-content: end;

        .btn{
            width: 10em;
            margin-left: 1em;
        }
    }

    #read{
        width: 8em;
        margin-left: 53%;
    }

    #indicator-container{
        display: flex;
        margin-top: -5%;
        justify-content: center;
    }

    
}